<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bwcapp"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:name="com.example.bwcapp.bwcapp"
        android:icon="@drawable/ic_launcher"
        android:label="bwcapp"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bwcapp.LoginPage"
            android:label="@string/app_name" >	
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bwcapp.DriveActivity"
            android:label="@string/title_activity_drive" >
        </activity>
        <activity
           android:name="com.example.bwcapp.Main"
            android:label="activity_mainpage" >
        </activity>
        <activity
            android:name="com.example.bwcapp.RecentLocations"
            android:label="@string/title_activity_recent_locations" >
        </activity>
        <activity
            android:name="com.example.bwcapp.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity> 
     	
    </application>

</manifest>
